<div class="tabbable" style="margin-bottom: 18px;">
    <ul class="nav nav-tabs">
        <% first = true%>
        <% @current_lang_pages.each_with_index do |lang_page, index| %>
            <li <%= 'class="active"' if first %>><a href="#tab<%= index + 1%>" data-toggle="tab"><%= @langs[:"#{lang_page.lang}"] %></a><li>
            <% first = false%>
        <% end %>
    </ul>
    <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
        <% first = true%>
        <% @current_lang_pages.each_with_index do |lang_page, index| %>
            <% page = lang_page.page %>
            <div class="tab-pane <%= "active" if first %>" id="tab<%= index + 1%>">
                <% first = false%>
                
                <p><%= page.title %> (<%= page.infobox_type%>)</p>
                
                <% if page.aliases %>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Alias name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% page.aliases.each do |alias_name|%>
                            <tr>
                                <td><%= alias_name %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% end %>
            
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% page.properties.each do |key, value|%>
                        <tr>
                            <td><%= key %></td>
                            <td><%= value %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        <% end %>
    </div>
</div>

