<table class="table table-striped">
    <thead>
        <tr>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><p>Total: <%= @current_pages.count%></p></td>
        </tr>
        <% @current_pages.each do |page| %>
		<% page.aliases.each do |alias_name|%>
            <tr>
                <td><a href='/<%= @current_lang %>/<%= @current_data_style %>/w/<%= page.title %>'><%= alias_name %></a></td>
            </tr>
		<% end %>
        <% end %>
    </tbody>
</table>
        