<table class="table table-striped">
    <thead>
        <tr>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><p>Total: <%= @alias_names.count%></p></td>
        </tr>
        <% @alias_names.each do |alias_name| %>
            <tr>
                <td><a href='/<%= @current_lang %>/<%= @current_data_style %>/w/<%= alias_name.entity.name %>'><%= alias_name.entity.name %></a></td>
            </tr>
        <% end %>
    </tbody>
</table>
        